body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #afc4cf2c;
}

.page-wrapper {
    max-width: 1024px;
    background-color: #ccc;
    margin: 0px auto 30px auto;
    padding: 0px 15px 15px 15px;
}

header {
    height: 50px;
    width: 100%;
    background-color: #333;
    position: fixed;
    bottom:0px;
    top: 0px;
}
.navbar {
    height: 40px;
    overflow: hidden;
    background-color: rgb(102, 136, 180);
    position: fixed;
    top: 0;
    width: 100%; 
  }
  .navbar ul li a{
    color: #fff;
    font-weight: 600;
  }
  .fa-bars{
    height: 10px;
    color: #fff;  
  }
  .navbar-toggler{
    
  }
nav ul{
    list-style: none;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    font-weight: 600;
}
.navbar ul li:hover a{
    color: yellow;
}
.navbar ul li:hover{
    background-color: rgb(226, 149, 118);
    color: yellow;
}
nav ul li{
    display: inline-block;
    padding: 0 10px;
}
@media screen and (max-width: 992px) {
    header{
        height: auto;
        position: absolute;
        background-color: #999191cc;
    }
    .banner{
        margin-top: 280px;
    }
    nav ul li{
        display: block;
    }  
}
@media screen and (max-width: 768px){
    .banner{
        background-image: none;
        background-color: rgb(85, 84, 84);
    }
}

#banner{
    height: 500px;
    background-image: url('../img/web-design-ge35e6e593_1280.jpg');
    background-size: cover;
    background-position: bottom;
    align-items: center !important;
    
}
#banner img{
 height: 300px;
 width: 300px;
 margin-top: 100px;
    
}

h1{
    color:white;
    padding-top:170px;
    margin-left: 100px;
    font-size: 46px;
    text-align: left;
    
}

h2{
    color: #fff;
    margin-left: 100px;
    text-align: left;
    font-size: 32px;
}

section.about-me{
    margin-top: 0;
    margin-bottom: 0;

    
}

.about-me p {
    font-size: 18px;
    line-height: 38px;
    text-align: justify;
}
.my-portfolio{
    background-image: url(../img/pexels-pixabay-276223.jpg);
    background-size: cover;
    padding: 5px;
    height: auto;
}
/*-------------Grid Property-----*/
#grid-layout h2{
    color: #000;
}
.basic-grid,
.advance-grid{
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: rgb(235, 45, 235);
    gap: 20px;
    padding: 10px;
}
.advance-grid{
    grid-template-columns: auto auto auto auto auto ; 
}
.basic-grid>div,
.advance-grid>div{
    border: 1px solid rgb(204, 255, 244);
    padding: 15px;
    text-align: center;
    line-height: 52px;
    background-color: #ffffffcc;
    box-shadow: 5px 5px sandybrown;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item6{
    grid-column: 2 / 4;
}
.item5{
    grid-row: 2 / 4;
}
.advance-grid .item7{
    grid-area: 1 / 3/  3 / 5;
    /*grid-area: column start/row start/column end/row end*/
}
.advance-grid .item5{
    grid-area: 3 / 3 / 5 / 5;
}
.advance-grid .item10{
    grid-column: 1 / 3;

}
.advance-grid .item2{
    grid-row: 1 / 3;
}
/*--------Grid Column Row-------*/
.grid-colrow,.grid-arena{
    display: grid;
    background-color: rgb(235, 45, 235);
    gap: 5px;
    padding: 5px;
}
.grid-colrow>div{
    border: 1px solid rgb(204, 255, 244);
    padding: 15px;
    text-align: center;
    line-height: 65px;
    background-color: #ffffffcc;
}
.grid-arena>div{
    border: 1px solid rgb(204, 255, 244);
    padding: 15px;
    text-align: center;
    line-height: 65px;
    background-color: #ffffffcc;
}
.grid-colrow{
    grid-template-columns: auto auto auto auto;
}
.grid-arena{
    grid-template-columns: auto auto auto auto auto auto ;
}
    
.grid-colrow .item1{
    grid-area: 1/1/3/1;
}
.grid-colrow .item3{
    grid-column: 3/5;
}
.grid-colrow .item4{
  grid-area: 3/2/2/3;
}
.grid-colrow .item5{
    grid-row: 2;
}
.grid-colrow .item6{
    grid-area: 2/4/3/5;
}
.grid-colrow .item7{
    grid-area: 3/2/3/2 ;
}
.grid-colrow .item8{
    grid-area: 3/3/3/3;
    grid-column: 3/ span 2;
}
.grid-colrow .item9{
    grid-area: 4/2/4/2;
}
.grid-colrow .item12{
    grid-area: 4/4/4/4;
}
.grid-colrow .item11{
    grid-area: 4/3/4/3;
}
.grid-colrow .item10{
    grid-row-start: 3;
    grid-row-end: 5;
}
/*---------Grid Area------*/
 /*grid-area: row start/column start/row end/column end*/
.grid-arena .item1{
    grid-column: 1;
}
.grid-arena .item2{
    grid-column: 2;
}
.grid-arena .item5{
    grid-area: 1/5/1/5;
    grid-column: 5/ span 2;
    background-color: lawngreen;
}
.grid-arena .item6{
    grid-area: 2/1/2/1;
}
.grid-arena .item7{
    grid-area: 2/6/2/6;
}
.grid-arena .item10{
    grid-area: 3/1/3/1;
}
.grid-arena .item12{
    grid-area: 4/1/4/1;
}
.grid-arena .item11{
    grid-area: 3/6/3/6;
}
.grid-arena .item8{
    grid-area: 2/2/5/4;
    background-color: aquamarine;
}
.grid-arena .item14{
    grid-area: 5/1/5/1 ;
}
.grid-arena .item9{
    grid-area: 2/4/5/6;
    background-color: cyan;
}
.work_experience{
  margin-bottom: 20px;
}

.work_experience>.container>.row>.col.text-end{
    border-right: 4px solid rgb(0, 66, 128);
}
.work_experience>.container>.row>.col.order-last{
    border-left: 4px solid rgb(0, 66, 128);
}
.col.text-end::after,.col.order-last::after{
    content: '\25c6';
    font-size: 24px;
    color: green;
    position: relative;
    right: -24px;
    top: -32px;
    
}
.col.order-last::after{
    left: -24px;
}

.work_education>.container>.row>.col.text-end{
    border-right: 4px solid rgb(0, 66, 128);
}
.work_education>.container>.row>.col.order-last{
    border-left: 4px solid rgb(0, 66, 128);
}
.col.text-end::after,.col.order-last::after{
    content: '\25C6';
    font-size: 22px;
    color: rgb(0, 66, 128);
    position: relative;
    right: -24px;
    bottom: 52px;
}
.personal_info{
    background-image: url(../img/pexels-ithalu-dominguez-907485.jpg);
    background-size: auto;
    height: auto;
}